# Python
venv/
__pycache__/
*.pyc
*.ipynb
agents/*.py

# Python Virtual Environments & Jupyter
abm_env/
.ipynb_checkpoints/

# Simulation Output Data & Logs
*.csv
*.bin

# Rendered Visualizations & Plots
*.png
*.jpg

# Build Directories
build/
bin/
obj/

CMakeFiles/
CMakeCache.txt
cmake-build-*/

# Logs / outputs
*.log

# OS
.DS_Store

# Editor
.vscode/
.idea/

# temp / junk folders
old_dump/
new/
infra/include/old/

# Temp files
*.tmp
*.out

# Experiments
experiments/


# jupyter cache
.ipynb_checkpoints/


*.o
*.a
*.so

compile_commands.json

# notes
structure.txt
agents/noise.txt
*.txt
 
# debug replys
lob_bug_reply2
lob_bug_reply3
